{{#if post}}
<p>
  <h1>{{post.title}}</h1>
  <a href="https://twitter.com/{{post.handle}}"
  {{#each post.includedTweets}}
    <p>{{this.created_at}}</p>
    <p>{{this.text}}</p>
    <br>
  {{/each}}
</p>
{{else}}
  <p>post not found</p>
{{/if}}