<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      {{#if post}}
      <div>
        <h1>{{post.title}}</h1>
        <a href="https://twitter.com/{{post.handle}}">https://twitter.com/{{post.handle}}</a>
        {{#each post.includedTweets}}
          <p>{{this.created_at}}</p>
          <p>{{this.full_text}}</p>
          <a href={{this.url}}>{{this.url}}</a>
          <hr />
        {{/each}}
      </div>
      {{else}}
        <p>post not found</p>
      {{/if}}

    </div>
  </div>
</div>
