<h3>Welcome {{name}}</h3>
<a href="/handles/" class="btn btn-secondary">Edit Tracked Handles</a>
<p>RSS URL:  <a href={{rssUrl}}>{{rssUrl}}</a></p>
<br>
<p>Posts</p>
{{#if posts}}
  <div>
  {{#each posts}}
      <div>
        <h5>{{this.title}}</h5>
        <a href="https://twitter.com/{{this.handle}}">https://twitter.com/{{this.handle}}</a>
        {{#each this.includedTweets}}
          <p>{{this.created_at}}</p>
          <p>{{this.full_text}}</p>
          <a href={{this.url}}>{{this.url}}</a>
          <hr />
        {{/each}}
      </div>
  {{/each}}
  </div>
{{else}}
  <p>No post summaries saved in database</p>
{{/if}}
<br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
